body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

header{
  background-color: rgb(28, 62, 29);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 50px;
}

header h3{
  color: #fff;
  padding: 0 40px;
}

.cart-icon h3{
  position: relative;
}

.cart-icon h3 img{
  width: 30px;
  height: 30px;
}

#count{
  position: absolute;
}

main{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #4b6ad1
}

.card{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 250px;
  background-color: #fff;
  padding: 20px;
  /* border: 1px solid black; */
  border-radius: 5px;
}

.card:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart-card{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 250px;
  background-color: #fff;
  padding: 20px;
  /* border: 1px solid black; */
  border-radius: 5px;
}

.cart-card:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img{
  width: 200px;
  height: 250px;
}

.product-name{
  font-size: 1.2rem;
  font-weight: 900;
  width: 200px;
  text-align: center;
}



.add-to-cart-btn{
  width: 200px;
  text-align: center;
}

.add-to-cart-btn button{
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.cart-modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.close {
  right: 0;
  top: 10%;
  float: right;
  color: #aaa;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#view-details {
  text-decoration: none;
  color: #fff;
}